/*
Theme Name: GRX Kanban
Author: Vitor Hugo Rodrigues Merencio
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


.centered
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

.page-title a,
.page-title a:hover
{
  text-decoration: none;
  color: #222;
}

#cadastrar-usuario .row p {
    margin-top: 3rem;
}

#overlay > img
{
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.projetos .columns
{
  background: #eee;
}

.projetos h4
{
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
}

.top
{
    border-bottom: 1px solid #222;
}

.site-footer
{
  margin-top: 1rem;
  height: 142px;
}

.site-footer p
{
  text-align: center;
}

.colunas-items{
 overflow: scroll;
}

.colunas {
 min-width: 1900px;


}

.tarefa
{
  margin: 0 16px 0 0;
  width: 200px;
  background-color: #b7b8b6;
  padding: 1rem;
  list-style-type: none;
  display: block;
  float: left;
  border-radius: 8px;
}

.tarefa > ul
{
  list-style-type: none;
}



.tarefa > ul > li
{
  background-color: #f1f1f2;
  border-radius: 1rem;
  padding: 1.5rem;
}

.tarefa ul > li > div.description
{
    display: none;
}

.tarefa h3
{
  font-size: 2rem;
  text-transform: uppercase;
}

span.peso-total {
    float: right;
    margin-right: 1rem;
}

.tags-cloud {
    width: 30px;
    height: 30px;
    border-radius: 2rem;
    display: inline-block;
    margin-right: 1rem;
}

.tarefa .button
{
  display:table;
  margin: 0 auto;
}

.add-card {
  display:none;
}

.add-card .close-add-card {
  margin: 0 15px;
  line-height: 38px;
  box-sizing: border-box;
  color: #555;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 23%;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(-50%, -50%);
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 50%;
    overflow-y: scroll;
    height: 70%;
}

span.modal-title {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 3rem;
    font-style: italic;
}

.modal-content ul {
    list-style-type: none;
}

.modal-content ul li:first-child {
  content: '';
  clear: both;
}

.modal-content ul li {
    display: inline;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.1rem;
}

.modal-content ul li > a {
  text-decoration: none;
  color: #222;
  width: 100%;
  background-color: #d3d3d3;
  font-weight: bold;
}

h4.m-title {
    float: left;
    margin-right: 3rem;
}

a.save-editable,
a.cancel-editable{
  display: none;
}

.title-editable a {
    line-height: 2.35;
}

.title-editable a.button
{
  line-height: 38px;
}

.title-editable a.button:hover {
  text-decoration: none;
}

p.m-content {
    font-size: 1.3rem;
    width: 70%;
    padding: 0.5rem;
    text-align: justify;
}

.content-editable a,
.title-editable a
{
    font-size: 1.2rem;
    text-decoration: none;
    color: #b2b3b4;
}

.content-editable a:hover,
.title-editable a:hover
{
    color: #222;
    text-decoration: underline;
}

.box-draggable{
  min-width: 160px !important;
}

.load-pik img {
    margin: 0 auto;
    display: none;
}

.row.comment-form form {
    margin-bottom: 0;
}

.comment-list {
    margin-bottom: 0;
}

.comment-list li {
    font-size: 1.3rem;
    margin: 0;
}

.comment-list li p {
    margin-bottom: 0;
    background-color: #b4b5b6;
    padding: 1rem;
    border-radius: 1rem;
}

.user-guid {
  line-height: 30px;
}

.user-guid img {
    margin: 0;
    vertical-align: middle;
}

.peso-tarefa {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    height: 30px;
}

label[for="esforco"], label[for="esforco_realizado"] {
    margin-bottom: 0;
    display: inline-table;
    margin-left: 4rem;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.n-projeto h3, .n-projeto p
{
  text-align: center;
}

a.membro-ativo {
    margin-left: 1rem;
}

a.membro-ativo:first-of-type {
    margin-left: 0;
}

a.tag-ativa:first-of-type {
    margin-left: 0;
}
a.tag-ativa {
    margin-left: 1rem;
}

#overlay
{
  background-color: #262626;
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.term-fields {
  display: none;
}

.row.term-fields input {
    margin-left: 0;
}

.button.button-warning {
  background-color: #e53935;
  color: #fff;
  border-color: #e53935;
}

.colunas em {
  margin-right: 1rem;
  font-weight: 500;
}

/**
 * Menu do usuario
 */

.user-items {
   line-height: 1.3;
   margin-top: 2rem;
   list-style-type: none;
   margin-bottom: 0;
}

.user-items a {
  display:block;
	padding:0 10px;
  color: #222;
	text-decoration:none;
  line-height: 30px;
}

.user-items ul li a:hover {
  background-color: #222;
  color:#fff;
}

.user-items li {
  display: inline-block;
  float: right;
}

.user-items li img {
  width:27px;
  float: left;
  margin-right: 1rem;
}

.user-items li a:first {
  cursor: pointer;
}

.user-items li ul {
    position: absolute;
    list-style-type: none;
    display: none;
    top: 30px;
    width: calc(27% - 15px);
}

.user-items li:hover ul {
  display: inherit;
}

.user-items ul li {
  width: calc(100% - 15px);
  padding: 0.1rem;
  background-color: #fff;
  border-color: #222;
  float: none;
  display: list-item;
  position: relative;
  z-index: 999;
  left: 7px;
}

.user-items ul li a {
  display: block;
  padding: 0 10px;
  text-align: right;
  line-height: 30px;
  text-decoration: none;
  border-color: #222;
  border: 1px solid;
  border-radius: 1rem;
}
